{{ 1200.99 | currency : 'BRL' }} <br>

{{ 1200.99 | currency : 'BRL' : 'code' }} <br>

{{ 1200.99 | currency : 'BRL' : 'symbol' }} <br>

{{ 1200.99 | currency : 'BRL' : 'symbol-narrow' }} <br>

{{ 1200.99 | currency : 'BRL' : 'TESTE' }} <br>

{{ 1200.99 | currency : 'CAD' : true : '1.2-2' : 'en-CA' }} <br>

{{ 1200.99 | currency : 'CAD' : false: '1.2-2' : 'en-CA' }} <br>
<br><br>
{{ 1200.99 | currency : 'BRL' : true }} <br>

{{ 1200.99 | currency : 'BRL' : false }} <br>

<br><br>
{{ 1200.99 | currency : 'BRL' : true : '1.2-2' }} <br>
{{ .99 | currency : 'BRL' : true : '1.2-2' }} <br>
{{ 1200.9 | currency : 'BRL' : true : '1.2-2' }} <br>
{{ 1200.999 | currency : 'BRL' : true : '1.2-2' }} <br>
<br>
{{ 1200.439 | currency : 'BRL' : true : '1.2-2' : 'pt-BR' }} <br>
<br>
{{ 1200.439 | currency : 'USD' : true : undefined : 'en-US' }} <br>
{{ 1200.439 | currency : 'USD' : false : undefined : 'en-US' }} <br>

{{ 1200.439 | currency}} <br>






